<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
    	<div class="container">
            <a class="brand" href="#">DAMB Queue</a>
            <form class="navbar-search pull-right" onsubmit='return false'>
                <input type="text" class="search-query" placeholder="Search...">
            </form>
        </div>
    </div>
</div>

<div class="container stories">
    Loading Stories...
</div>

<script type="text/javascript" src="javascripts/StoryQueue.js"></script>
